---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    {% assign excerpt_split = post.excerpt | split: "<div class="footnotes" role="doc-endnotes">" %}
    {{ excerpt_split.first }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
  <!-- {% if paginator.next_page %}
    <a class="article-pagination-left" href="{{ paginator.next_page_path | absolute_url }}">{% include svg-icon.html icon="arrow-left" %} Older posts</a>
  {% else %}
    <span class="article-pagination-left">{% include svg-icon.html icon="arrow-left" %} Older posts</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="article-pagination-right" href="{{ '/' | absolute_url }}">Newer posts {% include svg-icon.html icon="arrow-right" %}</a>
    {% else %}
      <a class="article-pagination-right" href="{{ paginator.previous_page_path | absolute_url }}">Newer posts {% include svg-icon.html icon="arrow-right" %}</a>
    {% endif %}
  {% else %}
    <span class="article-pagination-right">Newer posts {% include svg-icon.html icon="arrow-right" %}</span>
  {% endif %} -->
  <!-- {% if paginator.total_pages > 1 %}
    <li class="article-pagination {% if site.settings.scrollappear_enabled %}scrollappear{% endif %}">
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="article-pagination-left">{% include svg-icon.html icon="arrow-left" %} Older posts</a>
      {% endif %}
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="article-pagination-right">Newer posts {% include svg-icon.html icon="arrow-right" %}</a>
      {% endif %}
    </li>
  {% endif %} -->
</div>
