---
layout: default
---

<style>

.toc {
  position: fixed;
  right: 1em;
  top: 3em;
  padding: 1em;
  width: calc((100% - 28rem) / 2);
  line-height: 2;
}

@media (min-width: 38em) {
  .toc {
    width: calc((100% - 32rem) / 2);
  }
}

@media (min-width: 60em) {
  .toc {
    width: calc((100% - 38rem) / 2);
  }
}

.toc ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.toc ul ul {
  padding-left: 2em;
}

.toc .toc-item {
  display: block;
  /* transition: all 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000); */
  /* height: 2.5em; */
  height: 100%;
  width: 100%;
  /* background-color: #ffcbcb; */
  /* display: flex; */
  position: relative;
  align-items: center;
}

/* .toc .level-2 .toc-item {
  height: 1.5em;
}

.toc .level-3 .toc-item {
  height: 1em;
} */

.toc li .toc-item .toc-item-text {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #aaa;
  text-decoration: none;
}

.toc li .toc-item .toc-item-text:hover {
  color: #888888;
}

.toc li .current-toc-item .toc-item .toc-item-text {
  /* text-decoration: underline; */
  color: #888888;
}

.toc .level-1 .toc-item .toc-item-text {
  font-size: 16px;
}

.toc .level-2 .toc-item .toc-item-text {
  font-size: 15px;
}

.toc .level-3 .toc-item .toc-item-text {
  font-size: 14px;
}

@media (min-width: 38em) {
  .toc .level-1 .toc-item .toc-item-text {
    font-size: 18px;
  }

  .toc .level-2 .toc-item .toc-item-text {
    font-size: 17px;
  }

  .toc .level-3 .toc-item .toc-item-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 1200px) {
  .toc .level-1 .toc-item .toc-item-text {
    font-size: 14px;
  }

  .toc .level-2 .toc-item .toc-item-text {
    font-size: 13px;
  }

  .toc .level-3 .toc-item .toc-item-text {
    font-size: 12px;
  }
}

/* .toc > ul ul {
  display: none;
}
.toc > ul > li:hover > ul,
.toc > ul > li > ul > li:hover > ul {
  display: block;
} */

/* .toc > ul ul {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
} */
/* .toc > ul > li:hover > ul,
.toc > ul > li > ul > li:hover > ul {
  height: auto;
} */

/* .toc .toc-item-line {
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #aaa;
  margin-right: 1em;
}

.toc .level-2 .toc-item-line {
  height: 1px;
}

.toc .level-3 .toc-item-line {
  height: 0.5px;
}

.toc li .toc-item:hover .toc-item-text {
  display: block;
}

.toc li .toc-item:hover .toc-item-line {
  display: none;
} */

.toc li.visible > a {
  color: #111;
  transform: translate(5px);
}

.toc-marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.toc-marker path {
  transition: all 0.3s ease;
}

.contents {
  padding: 1em;
  max-width: 800px;
  font-size: 1.2em;
  font-family: 'Frank Ruhl Libre', sans-serif;
}

.contents img {
  max-width: 100%;
}

.contents .code-block {
  white-space: pre;
  overflow: auto;
  max-width: 100%;
}

.contents .code-block code {
  display: block;
  background-color: #f9f9f9;
  padding: 10px;
}

.contents .code-inline {
  background-color: #f9f9f9;
  padding: 4px;
}

.contents h2,
.contents h3 {
  padding-top: 1em;
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 14px;
  }
}
</style>

<div class="container">
  <div class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-date">{{ page.date | date_to_string }}</span>
    {{ content }}
  </div>

  <!-- <div class="toc">
    {% include toc.html html=content item_class="level-%level%" %}
    <svg class="toc-marker" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
      <path stroke="#444" stroke-width="3" fill="transparent" stroke-dasharray="0, 0, 0, 1000" stroke-linecap="round" stroke-linejoin="round" transform="translate(-0.5, -0.5)" />
    </svg> 
  </div> -->

  {% if site.related_posts.size >= 1 %}
  <div class="related">
    <h2>Related posts</h2>
    <ul class="related-posts">
      {% for post in site.related_posts limit:3 %}
        <li>
          <h3>
            <a href="{{ site.baseurl }}{{ post.url }}">
              {{ post.title }}
              <small>{{ post.date | date_to_string }}</small>
            </a>
          </h3>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <!-- <script>
    var toc = document.querySelector('.toc');
    var tocPath = document.querySelector('.toc-marker path');
    var tocItems;
    // Factor of screen size that the element must cross
    // before it's considered visible
    var TOP_MARGIN = 0.1,
        BOTTOM_MARGIN = 0.2;
    var pathLength;
    var lastPathStart,
        lastPathEnd;

    window.addEventListener('resize', drawPath, false);
    window.addEventListener('scroll', sync, false);

    drawPath();
    
    function drawPath() {
      
      tocItems = [].slice.call( toc.querySelectorAll( 'li' ) );
    
      // Cache element references and measurements
      tocItems = tocItems.map( function( item ) {
        // select the first anchor in the item which is in a "a" tag in a div
        var anchor = item.querySelector( 'div' );
        var target = document.getElementById( anchor.querySelector( 'a' ).getAttribute( 'href' ).slice( 1 ) );
    
        return {
          listItem: item,
          anchor: anchor,
          target: target
        };
      } );
    
      // Remove missing targets
      tocItems = tocItems.filter( function( item ) {
        return !!item.target;
      } );
    
      var path = [];
      var pathIndent;
    
      tocItems.forEach( function( item, i ) {
    
        var x = item.anchor.offsetLeft - 5,
            y = item.anchor.offsetTop,
            height = item.anchor.offsetHeight;
    
        if( i === 0 ) {
          path.push( 'M', x, y, 'L', x, y + height );
          item.pathStart = 0;
        }
        else {
          // Draw an additional line when there's a change in
          // indent levels
          if( pathIndent !== x ) path.push( 'L', pathIndent, y );
    
          path.push( 'L', x, y );
          
          // Set the current path so that we can measure it
          tocPath.setAttribute( 'd', path.join( ' ' ) );
          item.pathStart = tocPath.getTotalLength() || 0;
          
          path.push( 'L', x, y + height );
        }
        
        pathIndent = x;
        
        tocPath.setAttribute( 'd', path.join( ' ' ) );
        item.pathEnd = tocPath.getTotalLength();
    
      } );
      
      pathLength = tocPath.getTotalLength();
      
      sync();
    }

    // // get current window size
    // function getViewport() {
    //   return {
    //     x: window.pageXOffset,
    //     y: window.pageYOffset,
    //     w: document.documentElement.clientWidth,
    //     h: document.documentElement.clientHeight
    //   };
    // }

    // var currentWindowSize = getViewport();
    
    function sync() {

      // if (currentWindowSize !== getViewport()) {
      //   currentWindowSize = getViewport();
      //   drawPath();
      // }
      
      var windowHeight = window.innerHeight;
      
      var pathStart = pathLength,
          pathEnd = 0;
      
      var visibleItems = 0;
      
      tocItems.forEach( function( item ) {
    
        var targetBounds = item.target.getBoundingClientRect();
        
        if( targetBounds.bottom > windowHeight * TOP_MARGIN && targetBounds.top < windowHeight * ( 1 - BOTTOM_MARGIN ) ) {
          pathStart = Math.min( item.pathStart, pathStart );
          pathEnd = Math.max( item.pathEnd, pathEnd );
          
          visibleItems += 1;
          
          item.listItem.classList.add( 'visible' );
        }
        else {
          item.listItem.classList.remove( 'visible' );
        }
        
      } );

      // in the case where there are no visible items
      // because one of the items is too tall to fit the screen
      // we want to extend the path to the bottom of the last
      // item
      if (visibleItems === 0 && tocItems.length > 0) {
        // find the tokItem that is just above where we are
        var lastVisibleItem = tocItems.filter(function(item) {
          var targetBounds = item.target.getBoundingClientRect();
          return targetBounds.bottom < windowHeight * TOP_MARGIN;
        }).pop();
        if (lastVisibleItem) {
          pathStart = lastVisibleItem.pathStart;
          pathEnd = lastVisibleItem.pathEnd;

          lastVisibleItem.listItem.classList.add( 'visible' );

          visibleItems = 1;
        }
      }
      
      // Specify the visible path or hide the path altogether
      // if there are no visible items
      if( visibleItems > 0 && pathStart < pathEnd ) {
        if( pathStart !== lastPathStart || pathEnd !== lastPathEnd ) {
          tocPath.setAttribute( 'stroke-dashoffset', '1' );
          tocPath.setAttribute( 'stroke-dasharray', '1, '+ pathStart +', '+ ( pathEnd - pathStart ) +', ' + pathLength );
          tocPath.setAttribute( 'opacity', 1 );
        }
      }
      else {
        tocPath.setAttribute( 'opacity', 0 );
      }
      
      lastPathStart = pathStart;
      lastPathEnd = pathEnd;
    
    }

  </script> -->

  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <!-- Properly center long lines -->
  <style>
    /* mjx-container[jax="CHTML"][display="true"] mjx-math {
      padding-left: 100%;
      transform: translateX(-50%);
    } */

    .centered-math {
      padding-left: 100%;
      transform: translateX(-50%);
    }

    .scrollable-container {
      overflow-x: auto;
      white-space: nowrap;
    }
  </style>

  <script>
    // function wrapOverflowingMath() {
    //   const mathContainers = document.querySelectorAll("mjx-container");

    //   mathContainers.forEach(mjx_container => {
    //     const mjx_math = mjx_container.querySelector("mjx-math");

    //     console.log(mjx_math.clientWidth, mjx_container.clientWidth);

    //     if (mjx_math && mjx_math.clientWidth > mjx_container.clientWidth) {
    //       mjx_math.classList.add("centered-math");
    //       mjx_container.classList.add("scrollable-container");
    //     } else {
    //       mjx_math.classList.remove("centered-math");
    //       mjx_container.classList.remove("scrollable-container");
    //     }
    //   });
    // }

    // window.addEventListener("load", wrapOverflowingMath);
    // window.addEventListener("resize", wrapOverflowingMath);
  </script>

  <!-- <script>
  function setHeight(element, height) {
    element.style.height = height + 'px';
  }

  function updateParentHeights(element) {
    let parent = element.parentElement.closest('ul');
    while (parent) {
      setHeight(parent, parent.scrollHeight);
      parent = parent.parentElement.closest('ul');
    }
  }

  function dynamicParentHeight(element) {
    let parent = element.parentElement.closest('ul');
    while (parent) {
      parent.style.height = '100%';
      parent = parent.parentElement.closest('ul');
    }
  }

  document.querySelectorAll('.toc li').forEach(item => {
    item.addEventListener('mouseenter', event => {
      let sublist = item.querySelector('ul');
      if (sublist) {
        setHeight(sublist, sublist.scrollHeight);
        dynamicParentHeight(sublist);
        // sublist.addEventListener('transitionend', () => {
        //   updateParentHeights(sublist);
        // }, { once: true });
      }
    });

    item.addEventListener('mouseleave', event => {
      let sublist = item.querySelector('ul');
      if (sublist) {
        setHeight(sublist, 0);
        dynamicParentHeight(sublist); 
        // sublist.addEventListener('transitionend', () => {
        //   updateParentHeights(sublist);
        // }, { once: true });
      }
    });
  });
  </script> -->
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    /*!
 * hoverIntent v1.9.0 // 2017.09.01 // jQuery v1.7.0+
 * http://briancherne.github.io/jquery-hoverIntent/
 *
 * You may use hoverIntent under the terms of the MIT license. Basically that
 * means you are free to use hoverIntent as long as this header is left intact.
 * Copyright 2007-2017 Brian Cherne
 */

/* hoverIntent is similar to jQuery's built-in "hover" method except that
 * instead of firing the handlerIn function immediately, hoverIntent checks
 * to see if the user's mouse has slowed down (beneath the sensitivity
 * threshold) before firing the event. The handlerOut function is only
 * called after a matching handlerIn.
 *
 * // basic usage ... just like .hover()
 * .hoverIntent( handlerIn, handlerOut )
 * .hoverIntent( handlerInOut )
 *
 * // basic usage ... with event delegation!
 * .hoverIntent( handlerIn, handlerOut, selector )
 * .hoverIntent( handlerInOut, selector )
 *
 * // using a basic configuration object
 * .hoverIntent( config )
 *
 * @param  handlerIn   function OR configuration object
 * @param  handlerOut  function OR selector for delegation OR undefined
 * @param  selector    selector OR undefined
 * @author Brian Cherne <brian(at)cherne(dot)net>
 */

;(function(factory) {
    'use strict';
    if (typeof define === 'function' && define.amd) {
        define(['jquery'], factory);
    } else if (jQuery && !jQuery.fn.hoverIntent) {
        factory(jQuery);
    }
})(function($) {
    'use strict';

    // default configuration values
    var _cfg = {
        interval: 50,
        sensitivity: 6,
        timeout: 0
    };

    // counter used to generate an ID for each instance
    var INSTANCE_COUNT = 0;

    // current X and Y position of mouse, updated during mousemove tracking (shared across instances)
    var cX, cY;

    // saves the current pointer position coordinates based on the given mousemove event
    var track = function(ev) {
        cX = ev.pageX;
        cY = ev.pageY;
    };

    // compares current and previous mouse positions
    var compare = function(ev,$el,s,cfg) {
        // compare mouse positions to see if pointer has slowed enough to trigger `over` function
        if ( Math.sqrt( (s.pX-cX)*(s.pX-cX) + (s.pY-cY)*(s.pY-cY) ) < cfg.sensitivity ) {
            $el.off(s.event,track);
            delete s.timeoutId;
            // set hoverIntent state as active for this element (permits `out` handler to trigger)
            s.isActive = true;
            // overwrite old mouseenter event coordinates with most recent pointer position
            ev.pageX = cX; ev.pageY = cY;
            // clear coordinate data from state object
            delete s.pX; delete s.pY;
            return cfg.over.apply($el[0],[ev]);
        } else {
            // set previous coordinates for next comparison
            s.pX = cX; s.pY = cY;
            // use self-calling timeout, guarantees intervals are spaced out properly (avoids JavaScript timer bugs)
            s.timeoutId = setTimeout( function(){compare(ev, $el, s, cfg);} , cfg.interval );
        }
    };

    // triggers given `out` function at configured `timeout` after a mouseleave and clears state
    var delay = function(ev,$el,s,out) {
        delete $el.data('hoverIntent')[s.id];
        return out.apply($el[0],[ev]);
    };

    $.fn.hoverIntent = function(handlerIn,handlerOut,selector) {
        // instance ID, used as a key to store and retrieve state information on an element
        var instanceId = INSTANCE_COUNT++;

        // extend the default configuration and parse parameters
        var cfg = $.extend({}, _cfg);
        if ( $.isPlainObject(handlerIn) ) {
            cfg = $.extend(cfg, handlerIn);
            if ( !$.isFunction(cfg.out) ) {
                cfg.out = cfg.over;
            }
        } else if ( $.isFunction(handlerOut) ) {
            cfg = $.extend(cfg, { over: handlerIn, out: handlerOut, selector: selector } );
        } else {
            cfg = $.extend(cfg, { over: handlerIn, out: handlerIn, selector: handlerOut } );
        }

        // A private function for handling mouse 'hovering'
        var handleHover = function(e) {
            // cloned event to pass to handlers (copy required for event object to be passed in IE)
            var ev = $.extend({},e);

            // the current target of the mouse event, wrapped in a jQuery object
            var $el = $(this);

            // read hoverIntent data from element (or initialize if not present)
            var hoverIntentData = $el.data('hoverIntent');
            if (!hoverIntentData) { $el.data('hoverIntent', (hoverIntentData = {})); }

            // read per-instance state from element (or initialize if not present)
            var state = hoverIntentData[instanceId];
            if (!state) { hoverIntentData[instanceId] = state = { id: instanceId }; }

            // state properties:
            // id = instance ID, used to clean up data
            // timeoutId = timeout ID, reused for tracking mouse position and delaying "out" handler
            // isActive = plugin state, true after `over` is called just until `out` is called
            // pX, pY = previously-measured pointer coordinates, updated at each polling interval
            // event = string representing the namespaced event used for mouse tracking

            // clear any existing timeout
            if (state.timeoutId) { state.timeoutId = clearTimeout(state.timeoutId); }

            // namespaced event used to register and unregister mousemove tracking
            var mousemove = state.event = 'mousemove.hoverIntent.hoverIntent'+instanceId;

            // handle the event, based on its type
            if (e.type === 'mouseenter') {
                // do nothing if already active
                if (state.isActive) { return; }
                // set "previous" X and Y position based on initial entry point
                state.pX = ev.pageX; state.pY = ev.pageY;
                // update "current" X and Y position based on mousemove
                $el.off(mousemove,track).on(mousemove,track);
                // start polling interval (self-calling timeout) to compare mouse coordinates over time
                state.timeoutId = setTimeout( function(){compare(ev,$el,state,cfg);} , cfg.interval );
            } else { // "mouseleave"
                // do nothing if not already active
                if (!state.isActive) { return; }
                // unbind expensive mousemove event
                $el.off(mousemove,track);
                // if hoverIntent state is true, then call the mouseOut function after the specified delay
                state.timeoutId = setTimeout( function(){delay(ev,$el,state,cfg.out);} , cfg.timeout );
            }
        };

        // listen for mouseenter and mouseleave
        return this.on({'mouseenter.hoverIntent':handleHover,'mouseleave.hoverIntent':handleHover}, cfg.selector);
    };
});

  </script>

  <script>
  $(document).ready(function() {
    $('.toc > ul li').each(function() {
      if ($(this).children('ul').length > 0) {
        $(this).addClass('parent');
      }
    });

    // $(".toc > ul li.parent").hover(
    //   function() {
    //     $(this).toggleClass('active');
    //     $(this).children('ul').slideDown({ duration: 'fast'});
    //   },
    //   function() {
    //     $(this).toggleClass('active');
    //     $(this).children('ul').slideUp();
    //   }
    // );

    // $('.toc > ul li.parent > ul').hide();

    // Hover functionality
    $(".toc > ul li.parent").hover(
        function() {
            $(this).addClass('active');
            $(this).children('ul').slideDown({ duration: 'fast'});
        },
        function() {
            if (!$(this).hasClass('current-section')) {
                $(this).removeClass('active');
                $(this).children('ul').slideUp();
            }
        }
    );

    // Initially hide all submenus
    $('.toc > ul li.parent > ul').hide();

    // Function to update the current section
    function updateCurrentSection() {
        var scrollPosition = $(window).scrollTop();

        // Check each section's position
        $('.toc a').each(function() {
            var currentLink = $(this);
            var refElement = $(currentLink.attr("href"));
            
            if (refElement.length) {
                var sectionTop = refElement.offset().top - 100; // 100px offset for better UX
                var sectionBottom = sectionTop + refElement.outerHeight();

                if (scrollPosition >= sectionTop && scrollPosition <= sectionBottom) {
                    $('.toc li').removeClass('current-section');
                    currentLink.parents('li').addClass('current-section active');
                    currentLink.parents('li').children('ul').slideDown();
                    return false; // Exit the each() loop
                }
            }
        });
    }

    // Run on page load
    updateCurrentSection();

    // Run on scroll
    $(window).scroll(function() {
        updateCurrentSection();
    });


    // var currentTocItemLeader = null;

    // function openIfChildActive(element) {
    //   // recursive function that calls itself on children first and then checks to see if any children are active
    //   // if any children are active, open the parent and set self to active

    //   // check if element has class current-toc-item-leader
    //   // if so stop the recursion
    //   if (element.hasClass('current-toc-item-leader')) {
    //     return;
    //   }

    //   var children = element.children('ul').children('li');

    //   if (children.length === 0) {
    //     return;
    //   }

    //   anyActive = false;
    //   children.each(function() {
    //     openIfChildActive($(this));
    //     if ($(this).hasClass('active')) {
    //       anyActive = true;
    //     }
    //   });

    //   if (element.hasClass('toc')) {
    //     return;
    //   }

    //   if (anyActive && !element.hasClass('active')) {
    //     element.addClass('active');
    //     element.addClass('current-toc-item');
    //     element.children('ul').slideDown();
    //   } else if (!anyActive && element.hasClass('active')) {
    //     element.removeClass('active');
    //     element.removeClass('current-toc-item');
    //     element.children('ul').slideUp();
    //   }
    // }

    // function setTocOpen() {
    //   var tocItems = $('.toc > ul li');
    //   var windowHeight = window.innerHeight;
    //   var toc = $('.toc');

    //   // find the toc item that is currently visible on the screen
    //   // if no item is visible, find the item that is just above the screen
    //   var currentTocItem = null;
    //   tocItems.each(function() {
    //     var target = document.getElementById($(this).find('a').attr('href').slice(1));
    //     var targetBounds = target.getBoundingClientRect();

    //     // if target is in or above the screen and below currentTocItem, set currentTocItem to this
    //     if (targetBounds.top < windowHeight * 0.9) {
    //       if (!currentTocItem || targetBounds.top > currentTocItem[0].getBoundingClientRect().top) {
    //         currentTocItem = $(this);
    //       }
    //     }
    //   });

    //   // open the current toc item and its parents using slideToggle
    //   if (currentTocItem && !currentTocItem.hasClass('current-toc-item')) {
    //     console.log('setting current toc item');
    //     currentTocItem.addClass('current-toc-item');
    //     currentTocItem.addClass('active');
    //     currentTocItem.children('ul').slideDown();


    //     currentTocItem.addClass('current-toc-item-leader');
    //     if (currentTocItemLeader) {
    //       currentTocItemLeader.removeClass('current-toc-item-leader');
    //     }
    //     currentTocItemLeader = currentTocItem;

    //     // open the parent items in a top down manner using openIfChildActive
    //     // get root of the toc
    //     openIfChildActive(toc);
    //   }
      
    // }

    // // set the toc open when the page loads
    // setTocOpen();

    // // set the toc open when the user scrolls
    // window.addEventListener('scroll', setTocOpen);

    // // set the toc open when the user resizes the window
    // window.addEventListener('resize', setTocOpen);
  });
  </script> -->
</div>
